.leaflet-container {
  width: 100%;
  height: 100%;
}

.leaflet-div-icon {
  background: transparent !important;
  border: none !important;
}

.custom-marker {
  display: flex;
  align-items: center;
  justify-content: center;
}